/RANCZO-TRANSKRYPCJE/
/RANCZO-WIDEO/
/bot/RANCZO-TRANSKRYPCJE/
/bot/RANCZO-WIDEO/
/bot/KIEPSCY-WIDEO/
/bot/KIEPSCY-TRANSKRYPCJE/
/OLD/
/STARE RANCZ WIDEO/
/passwords.env
/.venv
/new_venv
/venv
/.idea
/update_and_run.sh
*.log
/DataModify
/cache
/__pycache__
*.mp4
*.cutree
.env
.env.*
*.env
log.txt
preprocessing_video.py
Dockerfile
docker-compose.yml
/Preprocessing
/kapitan_bomba_trans
/kb
/bot/KAPITAN_BOMBA-WIDEO
*.db
*.session
*.session-journal
.DS_Store
.git
.gitignore
*.md
.claude
/test_trans
/MOBILE_VIDEO_TESTS
*.zip
*.html
cookies.txt
/bot/tests/e2e_tests/expected_files
/bot/tests/expected
pytest.ini
.pytest_cache
*.pyc


