aiogram~=3.19.0
asyncpg~=0.30.0
bcrypt~=4.3.0
click~=8.1.8
elastic-transport~=8.17.1
elasticsearch~=8.17.0
fastapi~=0.115.12
ffmpeg==1.4
passlib[bcrypt]~=1.7.4
psycopg2-binary~=2.9.10
pydantic~=2.10.6
pydantic-settings~=2.7.0
pytest~=8.3.4
python-dotenv>=1.0.0
python-jose[cryptography]~=3.4.0
requests~=2.32.3
Retry~=0.9.2
slowapi~=0.1.9
starlette~=0.46.1
tabulate~=0.9.0
Telethon~=1.38.1
urllib3~=2.3.0
uvicorn~=0.34.0
