name: Deploy bot

on:
  push:
#    branches: [ main ]

  workflow_dispatch:

jobs:
  build_and_test_staging:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USR }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Build and push test image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            dam245222/ranchbot:test

      - name: Deploy test bot
        env:
          SECRETS: ${{ secrets.BOT_TEST_ENV }}
          IMAGE_TAG: test
          RESTART_POLICY: no
        run: |
          echo "$SECRETS" > .env
          # shellcheck disable=SC2046
          export $(grep -v '^#' .env | xargs)
          docker compose pull --policy always
          docker compose --project-name bot-test up -d

      - name: Wait for test bot
        run: |
          echo "Waiting for services to be healthy..."
          sleep 10
          if docker ps --format '{{.Names}}' | grep -qx 'bot-test-bot-1'; then
              echo The bot has been up an running for the first 10 seconds, OK.
          else
              echo The bot crashed
              docker logs bot-test-bot-1
              exit 1
          fi

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Run E2E Tests
        env:
          SECRETS: ${{ secrets.BOT_TEST_ENV }}
        run: |
          echo "$SECRETS" > .env
          # shellcheck disable=SC2046
          export $(grep -v '^#' .env | xargs)
          python3 -m pip install -r requirements.txt
          python3 -m pytest bot/tests/amdinistration/test_admin_help.py

  build_production:
    needs: build_and_test_staging
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USR }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Build and push prod image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            dam245222/ranchbot:prod
            dam245222/ranchbot:latest
