name: Deploy bot

on:
  push:
    branches:
      - main

  pull_request_review:
    types: [submitted]

  workflow_dispatch:
    inputs:
      disable_tests:
        description: 'Disable E2E Tests'
        type: boolean
        required: false
        default: false

jobs:
  build_and_test_staging:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USR }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Build and push test image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            dam245222/ranchbot:test

      - name: Deploy test bot
        env:
          IMAGE_TAG: test
          RESTART_POLICY: no
        run: |
          docker compose --env-file .env pull --policy always
          if ! docker compose --env-file .env --project-name bot-test up -d --wait; then
            echo "Bot failed to start or become healthy"
            docker logs bot-test-bot-1
            exit 1
          fi
          echo "Bot is healthy and ready"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Run E2E Tests
        if: ${{ inputs.disable_tests != true }}
        env:
          PIP_ROOT_USER_ACTION: ignore
        run: |
         python3 -m pip install -r requirements.txt
         python3 -m pytest

  build_production:
    needs: build_and_test_staging
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USR }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Build and push prod image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            dam245222/ranchbot:prod
            dam245222/ranchbot:latest
