name: Feature Branch Pipeline

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:
  workflow_call:

jobs:
  spawn:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Spawn manual workflow
        run: |
          echo "Pipeline spawned for branch ${GITHUB_REF_NAME}."

  manual-run:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    uses: ./.github/workflows/test.yml
